.Developer{
   margin-top: 20px;
   text-align: center;
   font-weight: 700;
   color:#f8f7ff;
   text-shadow: 30px;
   font-size: x-large;
}
.about-names{
    display: flex;
    gap:0;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
}
.container-about {
    display: flex;
    align-items: center;
    border: 1px solid #ddd; 
    border-radius: 12px; 
    padding: 16px; 
    height: 130px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 550px; 
    margin: 20px 0; 
  }
  
  .image {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 12px; 
    border: 2px solid #ccc; 
  }
  
  .personal-details {
    font-family: Arial, sans-serif; 
    color:#f8f7ff; 
    
    
    
  }
  
  .personal-details h5 a {
    font-size: 16px; 
    margin: 2px; 
    color: #f8f7ff;
    
    
    
  }
  
  .personal-details p {
    font-size: 14px; 
    margin: 4px 
  }
  