.navbar {
    background-color: #333; 
    width: 80%; /* Default width */
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0 20px;
    transition: width 0.3s ease-in-out; 
}
.helper {
    display: flex;
    align-items: center;
    border: #ffffff;
    max-width: 100%;

    max-height: fit-content;

}

.helper h2 {
    margin-left: 150px;
    font-weight: 800;
    font-size: 26px;
    gap: 15px;
    color: #ffffff;
    cursor: pointer;
}

h4 button {
    margin-top: 2px;
    margin-left: 120px;
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(44,44,44); 
    background: none; 
    padding: 8px 16px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 22px; 
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

h4 button:hover {
    border: 2px solid purple; 
    color: white;

    transform: scale(1.1);
    

    transform: scale(1.1) translateY(-2px); 
}

.helper .signin {
    margin-left: 120px; 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(252, 252, 252); 
    background: none; 
    padding: 8px 16px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-family: Arial, sans-serif; 
    font-size: 22px; 
    transition: all 0.3s ease;
}

.helper button:hover {
    color: white; 
    border-color: purple; 
    transform: scale(1.1) translateY(-2px); 
}
