
.paper-container{
    display: flex;
    justify-content:space-evenly;
}

.paperbox{
    border: 1px solid white;

    
    width:280px ;
    height: 210px;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    color: #f8f7ff;
    cursor: pointer;
    
}
.paperbox img{
    height: 100px;
    width: 100px;
}