    /* Style the dropdown container */
    .navbar{
        margin-top: 0px;
        
    }
    .second-part{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        gap: 30px;
        border-bottom: 2px solid white;
        padding-bottom: 12px;
    }

    .second-part img{
        gap: 30px;
        width: 8px;
        height: 1vh;
        filter: invert(1) brightness(2);
        padding-left: 1px;
    }
    
.second-two{
  margin-right: 650px;
  margin-left: 100px;
  padding-bottom: 20px;
}

.dropdown-container {
    display: flex;
    gap: 5px; 
    margin-right: 10px; 
    flex-direction: column;
  }
  .dropdown {
    position: relative;
    
  }
  
  .dropdown-button {
    background-color: rgb(39, 39, 42); /* Green button */
    color: white;
    padding: 10px 16px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    min-width: 160px;
    gap: 4px;
  }
  .dropdown-button img{
    gap: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 42);
    min-width: 160px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid whitesmoke;
    color: white;
    
  }
  .dropdown-content a{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .dropdown-content a:hover{
    transform: translateY(-5px); 
    background-color: rgb(74, 60, 180);
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    
  }
.left-part{
  margin-top: 40px;
  width: 35%;
  
  border-right: 2px solid white;
}
.left-part .info{
  margin-left: 50px;
  width: 450px;
  height: 10vh;
  
  margin-top: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer; 
}
.left-part .info:hover{
  transform: translateY(-5px); 
  background-color:rgb(74, 60, 180);
} 