/* 
.second-part-n{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #27272A;
    flex-wrap: wrap; 
  }
  
  
  .second-two-n{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #f8f7ff; 
    margin-bottom: 10px; 
  }
  

  .dropdown-n{
    position: relative;
    display: inline;
    margin-bottom: 20px;
  }
  
  
  .dropdown-button-n{
    background-color: #c747dd;
    color: #f8f7ff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .dropdown-button-n:hover {
    background-color: #fff; 
  }
  
  
  .dropdown-content-n{
    display: none;
    position: absolute;
    background-color: #333; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px; 
    overflow: hidden; 
  }
  
 
  .dropdown-content-n a {
    color: #f8f7ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    background-color: #27272A; 
    transition: background-color 0.3s ease; 
  }
  
  .dropdown-content-n a:hover{
    background-color: #d66df4; 
    color: #f8f7ff;
  }
  
  
  .dropdown-n:hover .dropdown-content-n{
    display: block;
  }
  
  
  @media screen and (max-width: 768px) {
    .second-part-n{
      flex-direction: column; 
      align-items: center;
      justify-content: space-around;
    }
  
    .second-two-n{
      order: 2; 
      margin-bottom: 15px; 
      text-align: left; 
      width: 50%;
    }
  
    .dropdown-n{
      order: 1; 
      margin-bottom: 15px;
      width: 100%; 
    }
  
    .dropdown-button-n{
      width: 100%; 
      text-align: center; 
    }
  
    .dropdown-content-n{
      position: static; 
      width: 100%; 
      box-shadow: none; 
    }
  }
  
  
  @media screen and (max-width: 480px) {
    .second-two-n{
      font-size: 1rem; 
      text-align: center; 
    }
  
    .dropdown-button-n{
      font-size: 0.9rem; 
      padding: 8px 12px;
    }
  
    .dropdown-content-n a {
      font-size: 0.8rem; 
      padding: 10px 12px;
    }
  }
   */
  .lock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d66df4;
    height: 100px; /* Added height to match your .lock svg height */
  }
  .lock svg {
    width: 50%;
    height: 100%; /* Adjusted height to fill the container */
    background-color: #fff; /* Removed background-color from svg */
  }