.helper{
    display: flex;
    align-items: center;
    border: #ffffff;

    /*justify-content: space-between;*/
    
   
    
}
.helper h2{
    margin-left: 150px;
    font-weight: 800;
    font-size: 26px;
    gap: 15px;
    color: #ffffff;
}
.helper h4{
    margin-left: 180px;
    color: #ffffff;
    font-size: 22px;
    
}
.helper button{
   
    margin-left: 150px; /* Pushes the button to the right */
    color: rgb(255, 255, 255); /* Text color */
    border: 2px solid rgb(252, 252, 252); 
    background: none; 
    padding: 8px 16px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-family: Arial, sans-serif; 
    font-size: 22px; 
    transition: all 0.3s ease;
    
}
.helper button:hover {
    
    color: white; /* White text on hover */
    border-color: purple; /* Keeps border color consistent */
}